<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div id="app" class="row">
    <div class="offset-3 col-6" v-if="!completed">
      <div class="card">
          <div class="card-body">
              <p class="badge badge-dark">第 {{ (questionIndex+1) }} 問</p>
              <br>
              <h4 class="card-title">{{ currentQuestion.question }}</h4>
              <hr>
              <button
                  type="button"
                  class="btn btn-primary btn-lg btn-block text-left"
                  v-for="(answer,index) in currentQuestion.answers"
                  @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
          </div>
      </div>
  </div>
  
  <!-- 結果表示する部分 -->
  <div class="offset-3 col-6" v-if="completed">
      <div class="card">
          <div class="card-body">
              <p class="badge badge-dark">結果</p>
              <div v-for="(question,index) in this.questions">
                  <h4 class="card-title">{{ question.question }}</h4>
                  <ul>
                      <li v-for="answer in question.answers">{{ answer }}</li>
                  </ul>
                  <span v-if="question.answer == answers[index]">正解 &#x1F44D;</span>
                  <span v-else>不正解 &#x1F622;<br>正解は「{{ question.answers[question.answer] }}」でした。</span>
                  <hr>
              </div>
          </div>
      </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>